# Reglas de Git LFS preexistentes
*.zip filter=lfs diff=lfs merge=lfs -text

# Forzar a que Git mantenga saltos de línea Windows (CRLF) para archivos de código de VB6
*.vbp text eol=crlf
*.vbw text eol=crlf
*.frm text eol=crlf
*.bas text eol=crlf
*.cls text eol=crlf
*.ctl text eol=crlf
*.pag text eol=crlf
*.dob text eol=crlf
*.dsm text eol=crlf
*.dsr text eol=crlf
*.dca text eol=crlf

# Evitar conversiones de fin de línea en archivos binarios (Tratarlos estrictamente como binarios)
*.frx binary
*.ctx binary
*.res binary
*.oca binary
*.olb binary
*.tlb binary
*.exe binary
*.dll binary
*.ocx binary
*.bmp binary
*.ico binary
