# Archivos de espacio de trabajo de VB6 (Ventanas abiertas, etc.)
*.vbw

# Archivos de caché e información de controles de VB6
*.oca
*.dca
*.tmp

# Archivos compilados e intermedios
*.obj
*.exe
*.dll
*.ocx
*.cab

# Archivos generados por el Package & Deployment Wizard / Empaquetado
Support/
*.PDM
*.SCC
MSSCCPRJ.SCC

# Archivos de ayuda y estado temporales de compilación
*.GID
*.HLP.log
*.log

# Archivos temporales o de prueba que a veces se crean
*.tmp
*.~??

*.zip